@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  transition: all 0.8s;
}
/*  */
:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app h2 {
  display: flex;
  display: inline-block;
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: var(--title-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  border: 1px solid var(--text-primary);
  background: var(--background);
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: var(--text-primary);
  background: var(--background);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ToDoCard {
  width: 80%;
  margin-top: 3rem;
}
.ToDoCard li {
  border-radius: 1rem;
  border: 0.5rem solid;
  color: black;
  font-size: 2rem;
  display: flex;
  text-align: center;
  margin: 1rem auto;
  justify-content: space-between; /* Ensure even spacing between elements */
  align-items: center; /* Align items vertically */
  justify-items: center;
  justify-content: center;
  max-width: 100%; /*Adjust maximum width for better responsiveness*/
  /* padding: 5px; Add padding for spacing */
  background-color: #dfdfdf;
  font-weight: bold;
}
.ToDoCard li p {
  /* if you delete "flex: 1" the will push all the elements to the far left (try it) */
  flex: 1;
  color: #212121;
  margin: 0rem auto; /* Center the <p> element horizontally */
}
.ToDoCard button {
  max-width: 100%; /* Adjusted to fit any screen size */
  font-family: Bebas Neue;
  cursor: pointer;
  background-color: #212121;
  border-color: black;
  color: #dfdfdf;
  padding: 1rem 1.5rem; /* Adjusted for better padding */
  border-radius: 0.625rem; /* Equivalent to 10px */
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem; /* Equivalent to 1px */
  margin: 0.625rem; /* Equivalent to 10px */
}
.loading {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: var(--title-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 1.5rem;
}
.light-dark-mode {
  display: flex;
  position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
  top: 1rem; /* Adjusts the distance from the top of the viewport */
  left: 1rem; /* Adjusts the distance from the left of the viewport */
  align-items: center; /* Centers elements vertically within the container */
  user-select: none;
  font-size: 1rem;
}
.theme-mode:hover {
  cursor: pointer;
  opacity: 0.4;
}

.theme-mode {
  height: auto;
  width: 50%;
}
.theme-mode-on {
  height: auto;
  width: 50%;
}
.theme-mode-off {
  height: auto;
  width: 50%;
}
@media screen and (max-width: 600px) {
  * {
    transition: all 0.4s;
  }
  /* Styles for the search input */
  .light-dark-mode {
    top: 3rem; /* Adjusts the distance from the top of the viewport */
    left: 0.4rem; /* Adjusts the distance from the left of the viewport */
    font-size: 0.7rem;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }
  .theme-mode {
    bottom: 1rem;
    width: 40%;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }
  .theme-mode-on {
    bottom: 1rem;
    left: 3rem;
    width: 40%;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }
  .theme-mode-off {
    bottom: 1rem;
    left: 3rem;
    width: 40%;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }
  h1 {
    font-size: 2rem;
  }
  .loading {
    font-weight: bold;
    font-size: 1rem;
    padding: 0rem;
    margin: 0.5rem;
    text-align: center;
  }
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }
  .ToDoCard button {
    padding: 0.1rem 0.25rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    font-size: 0.6rem;
    width: fit-content;
    text-align: center;
  }
  .ToDoCard li {
    padding: 0.05rem;
  }
  .ToDoCard li p {
    font-size: 0.7rem;
  }
}
[data-theme="dark"] {
  --background: #212426;
  --text-primary: white;
  --button-bg: #272b30;
  --button-text: white;
  --input-bg: #151618;
  --nth-child-bg: #343a40;
  --title-text-color: linear-gradient(
    180deg,
    rgb(255, 255, 255) 10%,
    rgb(103, 157, 195) 100%
  );
}
[data-theme="light"] {
  --background: rgb(227, 227, 227);
  --text-primary: black;
  --button-bg: #272b30;
  --button-text: white;
  --input-bg: white;
  --nth-child-bg: silver;
  --title-text-color: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(135, 147, 214) 100%
  );
}
body {
  background-color: var(--background);
  color: var(--text-primary);
}
button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

input {
  background-color: var(--input-bg);
  color: var(--text-primary);
}

/* @media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }
  button {
    padding: 1rem 1.75rem;
    background-color: red;
  }
  .container {
    margin-top: 2rem;
  }

  .movie {
    width: 100%;
    margin: 1rem;
  }
} */
